.div_heading 
{
     background:#1c94c4;
    border: #000;
    font-size: x-large;
}
.arrow_up
 {
      content: url(../img/up_arrow.png);
      height: 25px;
      width: 25px;
      display: inline-block;
      float: right;
 } 
 .arrow_down
 {
      content: url(../img/down_arrow.png);
      height: 25px;
      width: 25px;
      display: inline-block;
      float: right;
 } 